html,body{
	height:100%;
	font:15px Verdana,Geneva,sans-serif;
	text-align:justify;
	cursor:default;
}

.maxw{
	margin:0 auto;
	/*min-width: 720px;*/
	min-width:840px;/*+120px;*/
	max-width:1240px/*+40px;*/
}

#bh{
	min-height:15px;
	padding:5px 27px 9px;
}	

#header{
	min-height:70px
}
	#logo{
	width:240px;
	overflow:hidden;
	min-height:inherit
	}
	.h_field{
	min-width:240px;
	max-width:1260px;
	overflow:hidden;
	margin-bottom:6px;
	}
/*	#tlf{min-height:33px}*/
	.inline{display:inline}
	.h_field img{vertical-align: middle;}
	.top_l,.top_c,.top_r{width:33%;float:left;}
.top_l,.top_c,.top_r{padding: 0.6em 0;}
@media screen and (max-width:700px){
	.top_c{display:none;}
	.top_l,.top_r{width:49%;}
}
#ah{
	min-height:13px
}
/**************************/
/**************************/
#wrap{
	border-radius:9px 9px 0 0
}

#l_col{
	width:240px;
	/*overflow:hidden*/
}

#m_col{
	/*min-width:480px;*/
	min-width:600px;/*+120px;*/
	max-width:1000px;/*+40px;*/
	overflow:hidden
}
/**************************/
/*  m_col_child Start */
#c_col{
	/*min-width:240px;*/
	min-width:360px;/*+120px;*/
	overflow:hidden
}

#r_col{
	width:240px;
	overflow:hidden
}

/*  m_col_child End */
/**************************/
/**************************/

#bf{
	min-height:5px
}

#foot{
	min-height:40px;border-radius:5px
}

#copy{font-size:70%}




