h1,h2,h3,h4{margin:4px 7px 4px;font-family:"Monotype Corsiva"}
h1{font-size:35px}
h2{font-size:30px}
h3{font-size:25px}
h4{font-size:20px}
.colorhed,.menu_title{
    font:25px "Monotype Corsiva";
}
p,ol,ul,ul li{margin:5px}
ul{list-style:none}


.fon,.fon_c{margin:0 0 7px}
@media screen and (max-width: 920px){.fon,.fon_c{margin:0 0 7px}}
#l_col .fon,#l_col .fon_c,#r_col .fon,#r_col .fon_c{margin:0 0 7px}

@media screen and (max-width:800px){
    .hfc,.hsc{display:none}
}

.gallery{width:240px}
@media screen and (min-width:1000px){.gallery{width:280px}}
.price{font-size:110%;font-weight:700;padding:6px}

.colorbox{cursor: url(../img/site/colorbox/zoomin.cur),pointer !important;}

.tel{text-align:center}
.telkiev::before{content: url(../img/site/pngext.php?i=kievstar)}
.vodafon::before{content: url(../img/site/pngext.php?i=vodafon)}

/*кнопки share*/
#share .rel{margin:15px 3px}
#informer{margin:6px 0;display:block}

.nav_link a{margin:0 3px;display:inline-block}
@media screen and (min-width:240px) and (max-width:780px){.nav_link a{margin:25px 24px}}

