h1,h2,h3,h4{color:#b2251a/*004e6f*/;}

A:link,.link{color:#5c3317;text-decoration:underline;}
A:active{color:#5c3317}
A:visited{color:#520c0e}
A:hover,.link:hover{color:#B2251F;text-decoration:blink;}

/*body{background:#eae1b8;}*/
.pesok,.caption{
	background:#EFA850 url(../img/site/jpg.php?i=pesok);
}
#wrap{
	background:rgba(253, 222, 108,0.7);
}
.fon_c,.fon_c0{/*общий фон обводки*/
	background:#FEFEE4;

}
.border,.fon_c{border:#aa5901 1px solid;}
.caption{border-bottom:#aa5901 1px solid;}


.header_c{
	background:rgba(157,227,189,0.42);
	border-radius: 10px 10px 0 0;
	border-bottom: #1c7a05 solid 2px;
	padding: 3px 9px;
}