h1,h2,h3,h4{margin:4px 7px 4px;font-family:"Monotype Corsiva"}
h1{font-size:35px}
h2{font-size:30px}
h3{font-size:25px}
h4{font-size:20px}
.colorhed,.menu_title{
    font:25px "Monotype Corsiva";
}
p,ol,ul,ul li{margin:5px}
ul{list-style:none}


.fon,.fon_c{margin:0 0 7px}
@media screen and (max-width: 920px){.fon,.fon_c{margin:0 0 7px}}
#l_col .fon,#l_col .fon_c,#r_col .fon,#r_col .fon_c{margin:0 0 7px}

@media screen and (max-width:800px){
    .hfc,.hsc{display:none}
}



.preview{
    min-width:230px;
    max-width:360px;
    border:#353535 dotted thin;
    margin:3px;

}
@media screen and (min-width:920px) and (max-width:1020px){
    .preview{max-width:320px;background-color:#004e6f}
}
@media screen and (min-width:871px) and (max-width:919px){
    .preview{max-width:300px;background-color:#FF0000}
}
@media screen and (min-width:835px) and (max-width:870px){
    .preview{max-width:280px;background-color:#F45000}
}
@media screen and (min-width:200px) and (max-width:870px){
    .preview{margin:3px 0}
}

.colorbox{cursor: url(../img/site/colorbox/zoomin.cur),pointer !important;}


/*кнопки share*/
#share .rel{margin:15px 3px}
#informer{margin:6px 0;display:block}

.nav_link a{margin:0 3px;display:inline-block}
@media screen and (min-width:240px) and (max-width:780px){.nav_link a{margin:25px 24px}}

