html,body{height:100%;
	font:15px Verdana,Geneva,serif;
	text-align:justify;
	cursor:default
}
.maxw{
	margin:0 auto;
	min-width:240px;
	max-width:1040px
}
/*++++++++++++++++++++++++++++++++*/
.header{
	background:#000000 url("../img/site/bg.jpg")center top repeat-x;
	min-height:500px;
}
.headertop{
	min-height:58px;
	border-bottom:#353535 solid thin;
}
	#hlm{min-height:1px;width:240px}
	@media screen and (max-width:560px){
		#hlm{width:100%}
	}
	#hrm{min-height:5px;min-width:240px;max-width:740px;overflow:hidden}
/*******/
.headercen{
	/*height:120px;*/
	border-bottom:#696969 solid thin;
}
	#logo{
		float:left;
		min-width:240px;
		/*min-height:100px;*/
		text-align:center
	}
		#logo span{font:95px "Monotype Corsiva";}
		@media screen and (min-width:371px) and (max-width:540px){
			#logo{width:100%}
		}
		@media screen and (max-width:370px){
			#logo span{font-size:60px}
		}
	#logo a{text-decoration:none}
	#logo a span:nth-child(1){color:#F4F4F4}
	#logo a:hover span:nth-child(1){text-decoration:underline;;color:#F89A0A}
	#logo a span:nth-child(2){text-decoration:underline;color:#F89A0A}
	#logo a:hover span:nth-child(2){text-decoration:none;color:#fff}

	.h_field{
		min-width:240px;
		max-width:800px;
		overflow:hidden
	}
	#tagline{
		height:82px;
		display:table;
		margin:0 1px 0 13px;
		min-width:230px;
		box-sizing: border-box;
	}
	@media screen and (max-width:613px){
		#tagline{height:13px;margin:0 2px}
	}
	#tagline p{
		display:table-cell;
		vertical-align:bottom;
		font-size:140%;
		font-style:oblique;
	}
.headerbot{
	box-sizing: border-box;
	min-height:90px;
	padding-top:25px;
	padding-bottom:28px;
	overflow:hidden;
}
	@media screen and (max-width:613px){
		.headerbot{
			padding-bottom:10px;
		}
	}
	.headerbot div div{width:310px}
	@media screen and (max-width:700px){
		.headerbot div div{width:200px}
	}


/**************************/
#r_col,.r_col{
	width:240px;
	float:right;
	overflow:hidden;
	min-height:1px
}
@media screen and (max-width:490px){
	#r_col,.r_col{width:100%}
}
#m_col,.m_col{
	min-width:240px;
	max-width:800px;
	overflow:hidden;
	min-height:1px
}
/**************************/



/**************************/
#af{min-height:21px}
#foot{min-height:76px;padding:10px 2px}
#copy{font-size:70%}
#bf{height:18px}


@media screen and (min-width:801px) and (max-width:1920px){
	#share{
		z-index:333;
		position:fixed;
		left:50px;
		bottom:50px
	}
}
@media screen and (min-width:200px) and (max-width:490px){
	#r_col{width:100%}
}