h1,h2,h3,h4{color:#B2251F;}

A:link,.link{color:#5c3317;text-decoration:underline;}
A:active{color:#5c3317}
A:visited{color:#520c0e}
A:hover,.link:hover{color:#B2251F;text-decoration:blink;}

.fon_c,.tb2_l_col,.tb2_r_col,.border{/*общий фон обводки*/
	border:#1c7a05 2px solid;
	border-radius:10px;
	background:#fefee2;
	background:rgba(254,254,226,0.8);
}
.ap{border:#1c7a05 2px solid;
	border-radius:0 10px 10px 0;
	background:#FF8E00;
	background:linear-gradient(to bottom,#FF8E00,#ffe100,#FF8E00);
}

#wiev_ap{border-left:#1c7a05 2px solid;}
#wiev_ap:hover{background:linear-gradient(to bottom,#ffe100,#FF8E00,#ffe100);border-radius:0 10px 10px 0;}
.img_btn:hover,.ap_btn:hover,.vksmilebox img:hover{box-shadow:2px 2px 10px 3px #66FF00;}
#apload{background-color:#CCC}

.tb2_img img{border:#FF8E00 2px solid;border-radius:9px 9px 0 0;}

.view_all{background:#FEE904}
.all_serii,.all_serii a{color:#FD7E02}
#foot{background:rgba(254,254,226,0.8);}
.header_c{
	background:rgba(157,227,189,0.42);
	border-radius: 10px 10px 0 0;
	border-bottom: #1c7a05 solid 2px;
	padding: 3px 9px;
}