/*.test{min-height:400px}
.test img{position:absolute;top:0;left:0;height:100%;width:100%;z-index:-1}
.testbody{
    position:relative;
    padding:27px 35px 21px;
}
.testres{
    margin: 1px 0 7px;
    padding:1px;
    color: #fff;
    font-size:150%;
    min-height:20px;
}
.testquestion{
    text-align:center;
    width:100%;
    padding:1px;
    color: #fff;
    font-size:140%;
    min-height:50px;
}
.testwarning::before{content: url(../img/site/pngext.php?i=kievstar)}*/
/*
.testwarning{
    color: #ff8250;

}
.testanswer{
    margin:13px 0;
    padding:1px;
    text-align:center;

}
.testanswer input{
    height:40px;
    width:90px;
    font-size:150%;
    text-align:center;
}*/
.testanswerbtn{
    padding-top:6px;
    margin:23px auto 0;
    width:200px;
    height:38px;
    border-radius:9px;
    border:#1c7a05 2px solid;
    background:linear-gradient(to top,#ffe100,#FF8E00);
    color:#F00;
    text-align:center;
    font-size:150%;
    font-weight:700;
    cursor:pointer;
}
.testanswerbtn:hover{background:linear-gradient(to top,#FF8E00,#ffe100);}
/*
.testflash{
    position:absolute;top:0;left:0;height:100%;width:100%;z-index:-10;
    padding:10% 0;
    text-align:center;
}
*/
/********************************************/

.testboard{
    position:relative;
    margin:4% auto;
    height:75%;
    width:75%;
}
@media screen and (max-width:799px){
    .testboard{
        margin:2%;
        height:96%;
        width:96%;
        color:#fff;
    }
}
.testboard img{position:absolute;top:0;left:0;height:100%;width:100%;z-index:1000}
.testres{
    min-height:18px;
    position:relative;
    padding:27px 35px 0;
    z-index:1001;
}

.testquestion{
    min-height:28px;
    position:relative;
    padding:7px 35px 0;
    z-index:1001;
}

.testbody{
    position:relative;
    padding:27px 35px 21px;
    z-index: 1001;
}
